{% extends 'df_user/base.html' %}

{% block head %}
<script>

function f() {  //\
             $.get('/cart/add0_0/', function (data) {
                $('.total_count em').text(data.count);
            });
        }

        //total
        function total_s(){
			total_count=0;
            total_price=0;
            $('.col07').each(function () {
                $count=$(this).prev().text();
                $price=$(this).prev().prev().text();
				// console.log($count);
				// console.log($price);
                total0=parseFloat($count)*parseFloat($price);
				total_price+=total0;   //小计
				total_count+=parseInt($count);
				// console.log(total_price);
                $(this).text(total0.toFixed(2));
				
            });
        }

        //cal total
        function total_all(){
           
            $('#total').text(total_price.toFixed(2));
            $('#total_count').text(total_count);
			$('#total_all').text(total_price+10);
        }

        $(function () {
            f();
            total_s();
            total_all();

        });

		</script>
{% endblock head %}

{% block body %}
	<h3 class="common_title">Your Address:</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>deliver to：</dt>
			<dd><input type="radio" name="" checked=""> 100 Queen St W, Toronto, Ontario M5H 2N1, Canada</dd>
		</dl>
		<a href="/user/site/" class="edit_site">Edit your address</a>

	</div>
	
	<h3 class="common_title">Payment method</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked>
			<label class="cash">CreditCard</label>
			<input type="radio" name="pay_style">
			<label class="weixin">PayPal</label>
			<input type="radio" name="pay_style">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style">
			<label class="bank">Cash</label>
		</div>
	</div>

	<h3 class="common_title">Products</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">    </li>
			<li class="col02">Name</li>
			<li class="col03">Unit</li>
			<li class="col04">Price</li>
			<li class="col05">Count</li>
			<li class="col06">Total</li>		
		</ul>
		{% for cart in carts %}
        <ul class="cart_list_td clearfix" id="{{ cart.id }}">
            
            <li class="col01">{{ cart.id }}</li>
            <li class="col02"><img src="{{cart.goods.gpic}}"></li>
            <li class="col03">{{cart.goods.gtitle}}<br></li>
            <li class="col04">{{cart.goods.gunit}}</li>
            <li class="col05">{{cart.goods.gprice}}</li>
            <li class="col06">{{cart.count}}
            </li>
            <li class="col07"></li>
        </ul>
    {% endfor %}
	<h3 class="common_title">Total is:</h3>
	<div class="common_list_con clearfix">
		<div class="settle_con"><br>Total
			<div class="total_goods_count">Total<em id="total_count"></em>Items, total is<b><b id="total"></b></b></div>
			<div class="transit">deliver fee：<b>10$</b></div>
			<div class="total_pay">pay：<b><em id="total_all"></em></b></div>
		</div>
	</div>
	</div>

	

	<div class="order_submit clearfix">
		<a href="javascript:;" id="order_btn">Submit</a>
	</div>	

	<div class="popup_con">
		<div class="popup">
			<p>Successfully submit！</p>
		</div>
		
		<div class="mask"></div>
	</div>
	<script type="text/javascript">
		$('#order_btn').click(function() {
			localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location.href = 'index.html';
					});	
				},3000)
				
			});
		});
	</script>
{% endblock body %}